#RedeemPoints,
#AddPromoCode {
    font-weight: bold;
    border-width: 1px;
    border: 3px solid #FB752C !important;
    background-color: transparent;
}

form {
    width: 100px;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
}

.value-button {
    width: 20px;
    background: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.value-button:hover {
    cursor: pointer;
}

form #decrease {
    border: 1px solid #FB752C !important;
    background-color: transparent;
    border-radius: 10px 0 0 8px;
    margin: 15px 1px 0 0;
}

form #increase {
    border: 1px solid #FB752C !important;
    background-color: transparent;
    border-radius: 0 8px 8px 0;
    margin-top: 15px;
    margin-left: 7px;
}

form #input-wrap {
    margin: 0px;
    padding: 0px;
}

input#number {
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Media query */

@media all and (max-width: 35em) {
    #FR {
        margin-left: 15px;
        margin-right: 15px;
    }
}
/* iPhone6/7/8 Plus landscape */

@media screen and (min-width: 414px)and (max-width: 736px) and (orientation: landscape) {
    #FR {
        margin-left: 80px;
        margin-right: 80px;
    }
}
/* iPad portrait */

@media screen and (min-width: 768px)and (max-width: 1366px) and (orientation: portrait) {
    #FR {
        margin-left: 100px;
        margin-right: 100px;
    }
}
/* iPad landscape */

@media screen and (min-width: 768px)and (max-width: 1366px) and (orientation: landscape) {
    #FR {
        margin-left: 100px;
        margin-right: 100px;
    }
}