#FR {
    border-style: solid;
    border-color: #FB752C;
    border-radius: 8px; 
    padding: 15px ; 
    }
    #image{
    width: 6em; 
    height: 6em; 

    border-radius: 8px;
    }
    #rate{
    width: 35%; 
    padding: 5px; 
    margin: 15px auto auto auto;
    }
    /* Rating Star Widgets Style */
    .rating-stars ul {
    list-style-type:none;
    padding:0;
    margin:auto;
    -moz-user-select:none;
    -webkit-user-select:none;
    }
    .rating-stars ul > li.star {
    display:inline-block;
    margin-top: 10px;
    }
    /* Idle State of the stars */
    .rating-stars ul > li.star > i.fa {
    font-size:1.8em; /* Change the size of the stars */
    color:#ccc; /* Color on idle state */
    }
    /* Hover state of the stars */
    .rating-stars ul > li.star.hover > i.fa {
    color:#FFCC36;
    }
    /* Selected state of the stars */
    .rating-stars ul > li.star.selected > i.fa {
    color:#FF912C;
    }
    .text-center {text-align:center;}