#FR {
    border-style: solid;
    border-color: #FB752C;
    border-radius: 8px; 
    padding:15px;
  
    }
    /* Slideshow container */
    .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    }
    /* The dots/bullets/indicators */
    .dot {
    height: 10px;
    width: 10px;
    margin: 0 1px;
    border-width: 15px;
    border-color: #FB752C;
    background-color:#bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    }
    .active {
    background-color: #FB752C;
    }

    #line{
        height:3px;
        border-width:0; 
        color:#FB752C;
        background-color:#FB752C; 
        margin: 10px 0 10px 0 ;
    }

    a{
        text-decoration: none;
    }

    #btn{
        background-color: #FB752C; 
        color:white;
    }

    #addpromo{
        padding: 20px 40px;
     
    text-align: center;
    }

   