

#container {
  text-align: center;
  margin: 0;
}

#qr-canvas {
  margin: 12em auto 0em auto;
  width: calc(100% - 80px);
  max-width: 400px;
  border: 4px dashed #FB752C;;
}


#btn-scan-qr img {
  height: 10em;
  padding: 15px;
  margin: 15px;
  background: white;
}
